@{


    ViewData["Title"] = "V5 CDD";


}

<div class="text-center">

    <h1>Thami EL MOUMENI was here xD</h1>

    <div style="font-family: Arial, sans-serif; font-size: 24px; color: deeppink;">
        <h1>Wissal Chakir is here</h1>
    </div>


    <h1 class="display-4">Hello G21 V2</h1>

    <h1 class="display-4">Benyouk INES G6 maarif </h1>

    <h2>Manal Moustaghfir</h2>
    <h1 class="display-4">Imane salhi g21 :)</h1>
    <div style="font-family: fantasy, sans-serif; font-size: 24px; color: greenyellow;">
        <h1>Aymen Bouanan ~~~~</h1>
    </div>

    <h1 class="display-4">Imane salhi  2g  main  21 :)</h1>
    <h1 class="display-4">Oualid Amsaguine</h1>
    <h1> AAZMI Younes</h1>

    <h1 class="display-4">Oumaima ELLAOUZY g21 :)</h1>
    <h1 class="display-4">Charaf Elyousfi g21 :)</h1>
    <h1 class="display-4">Saouf Yassmine g21 :)</h1>
    <h1 class="display-4">Essoubai Omnia g21 :)</h1>
    <h1 class="display-4">Wiam oukaili g21    :)</h1>

    <h1 class="display-4">asri mohamed amine g72 :)</h1>
    <h1 class="display-4">ilyass el haddad g72    :)</h1>

    <h1 class="display-4">Badr boufangha g71 :)</h1>
    <h1 class="display-4">yassmine elmir  2g    21 :)</h1>
    <h1 class="display-4">Douaa Mzaouir G7 maarif</h1>

    <h1 class="display-4"> Hayat Hadeg g71   :)</h1>
    <h1 class="display-4">yassmine elmir  2g    21 :)</h1>
    <h1 class="display-4">Douaa Mzaouir G7 maarif</h1>

    <h1 class="display-4"> Hayat  Hadeg g71   :)</h1>

    <h1 class="display-4">Yahya Aboussaad  G7  23 :)</h1>



    <h1 class="display-4">ZaimSassiSara G7 maarif</h1>

    <h1 class="display-4">Wahb lahlali G7 maarif</h1>


    <h1 class="display-4">Oussama elrhib G7 maarif</h1>
    <h1 class="display-4">Yahya Aboussaad  G7  23 :)</h1>

    <h1 class="display-4">Bennis  abdelhak  G7  23 :)</h1>

    <h1 class="display-4">nawfal daha g7 </h1>

    <h1 class="display-4">laakouk ibtissam g62  </h1>

    <h1 class="display-4">elbaraka salma g62 </h1>
    <h1 class="display-4">Adam Fakak G61 was here c: </h1> 
<h1 class="display-4">Yassine Bedraoui g61 "biker!" </h1>

    <h1 class="display-4"> GramiSalma g72 maarif   :)</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
