@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">

    <h1>Hello DevOps</h1>

    <h1>Thami EL MOUMENI</h1>
    <h2> Hello ,I am Bennis Yahya</h2>
    <h1>Hiba  Benchaira</h1>

    <h2> Hello ,I am Wakach Aymane </h2>
    <h2> Hello ,I am SALHI Imane :) </h2>
    <h2> DOUAA MZAOUIR </h2>

    <h2> ZAIM SASSI SARAH G 72 </h2>


    <h1> Taha Azaghar </h1>


    <h1> Nawfal Daha </h1>



    <h1>ASRI MOHAMED AMINE G7 MAARIF</h1>





    <h1>GramiSalmaG72 4IIR Maarif</h1>


    <h2>Hadeg Hayat</h2>
</div>
