@{


    ViewData["Title"] = "V5 CDD";


}

<div class="text-center">


    <h1 class="display-4">Hello G21 V2</h1>
  <h2>Manal Moustaghfir</h2>
    <h1 class="display-4">Imane salhi g21 :)</h1>
    <h1 class="display-4">Imane salhi  2g    21 :)</h1>



    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
