@{

    ViewData["Title"] = "V5 CD";

}

<div class="text-center">
    <h1 class="display-4">Hello G22</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
