@{
    ViewData["Title"] = "V5 CDD";
}

<div class="text-center">
    <h1>Halima Issazakou G3 Centre</h1>
    <h1>ElHor Ayman G3 Centre</h1>
    <h1>Elhekkioui Dounia G3 Centre</h1>
 


    <h1>WISSAL HAMMOUMI G31 Centre :) </h1>

    <h1>Elhekkioui Dounia G3 Centre </h1>

    <h1 style="color: #333; font-family: Arial, sans-serif; font-size: 2.5em; text-align: center;">Mehdi niyya g3 centre</h1>

    <h1>ElHor Ayman G3 Centre</h1>
    <h1>Elhekkioui Dounia G3 Centre</h1>


    <h1>Loubna EL Bzioui G3 centre</h1>

    <h1>Elhekkioui Dounia G3 Centre </h1>



    <h1>Mehdi niyya g3 centre</h1>

    <h1>yousssef el asad g3 centre</h1>

    <h1>yousssef el asad g3 centre</h1>

    <h1>SANBOULI MOHAMMED G4 centre</h1>

    <h1>hahaha</h1>
    <h1>naji elalajD</h1>
    <h1 class="display-4">G4 Centre - BOUSSAKSSOU Abdessamad <small style=" font-size: 1rem; font-weight: bold; ">aka COUSCOUS_V</small> </h1>

    <h1>Thami EL MOUMENI was here xD</h1>
    <h1>ZINEB G3 xD</h1>


    <h1>Thami EL MOUMENI was here xD</h1>
    <h1 style="color: red;">Souhail</h1>
    <div style="font-family: Arial, sans-serif; font-size: 24px; color: deeppink;">
        <h1>Wissal Chakir is here</h1>
    </div>
    <div class="display-4">
        <h1>Mohamed Bartout </h1>
    </div>
    <h1>Chahir soufiane l3arendess G61</h1>
    <h1>oudghiri idrissi ayman g4</h1>
    <h1>hachim morchid g4 ghadanfar </h1>


    <h1 class="display-4">Hello G21 V2</h1>



    <h2>Manal Moustaghfir</h2>

    <h1 class="display-4">Yassine Lamouadden G62 :)</h1>
    <h1>HICHAM JELBANE G61</h1>
    <h1>ayoub sadik g3 centre</h1>
    <h1 class="display-4">Imane salhi g21 :)</h1>

    <h1 class="display-4">Souhail ismail Ouldelhkim G6 Maarif </h1>

    <h1 class="display-4">Ben youk INES G6 Maarif </h1>

    <h1 class="display-4">Benyouk INES G6 maarif </h1>

    <h1 class="display-4"> karima elmoustakim G41</h1>
    <h1 class="display-4"> ZINEB OUMAIMA</h1>


    <h1 class="display-4"> zineb fakkar G3</h1>


    <h1 class="display-4">karima elmoustakim G41</h1>


    <h1 class="display-4">Oumaima Lemaadem G42</h1>

    <h1 class="display-4">Oumaima Lemaadem  G42</h1>


    <div style="font-family: Arial, sans-serif; font-size: 24px; color: green;">
        <h1>AMINA TEMRI</h1>
    </div>


    <div style="font-family: fantasy, sans-serif; font-size: 24px; color:rebeccapurple">
        <h1>FIRDAOUS NOURI</h1>
    </div>



    <h2>Manal Moustaghfir</h2>
    <h1 class="display-4">Imane salhi g21 :)</h1>
    <div style="font-family: fantasy, sans-serif; font-size: 24px; color: greenyellow;">
        <h1>Aymen Bouanan ~~~~</h1>
    </div>

    <h1 class="display-4">Imane salhi 2g main 21 :)</h1>
    <h1 class="display-4">Oualid Amsaguine</h1>

    <h1> AAZMI Younes</h1>
    <h1> zahraa</h1>

    <h1> ZINEB FAKKAR g3</h1>

    <h1> ZINEB FAKKAR</h1>
    <h1 class="display-4" style="font-size: 2.25rem; color: #BBBBBB;">AMINE SABRI G3 EMSI CENTRE</h1>


    <h1>AAZMI Younes</h1>


    <div style="color: green;">
        <h1>Yasser Bnouhajar G32 x)</h1>
    </div>

    <h1 class="display-4">Oumaima ELLAOUZY g21 :)</h1>
    <h1 class="display-4">Charaf Elyousfi g21 :)</h1>
    <h1 class="display-4">Saouf Yassmine g21 :)</h1>
    <h1 class="display-4">Essoubai Omnia g21 :)</h1>

    <h1 class="display-4">Wiam oukaili g21    :)</h1>
    <h1 class="display-4">Maryame Elomari g31    :)</h1>


    <h1 class="display-4">Wiam oukaili g21 :)</h1>


    <h1 class="display-4">asri mohamed amine g72 :)</h1>
    <h1 class="display-4">ilyass el haddad g72 :)</h1>

    <h1 class="display-4">Badr boufangha g71 :)</h1>
    <h1 class="display-4">yassmine elmir 2g 21 :)</h1>
    <h1 class="display-4">Douaa Mzaouir G7 maarif</h1>

    <h1 class="display-4">Hayat Hadeg g71 :)</h1>
    <h1 class="display-4">yassmine elmir 2g 21 :)</h1>
    <h1 class="display-4">Douaa Mzaouir G7 maarif</h1>
    <h1 class="display-4">Amine Zeroual G3 W</h1>




    <h1 class="display-4"> Hayat  Hadeg g71   :)</h1>

    <h1 class="display-4">Yahya Aboussaad  G7  23 :)</h1>
    <h1 class="display-4">wissal himmi  G4   :)</h1>


    <h1 class="display-4">Hayat Hadeg g71 :)</h1>


    <h1 class="display-4">Yahya Aboussaad G7 23 :)</h1>

    <h1 class="display-4">ZaimSassiSara G7 maarif</h1>

    <h1 class="display-4">Wahb lahlali G7 maarif</h1>

    <h1 class="display-4">Oussama elrhib G7 maarif</h1>
    <h1 class="display-4">Yahya Aboussaad G7 23 :)</h1>

    <h1 class="display-4">Bennis abdelhak G7 23 :)</h1>
    <h1 class="display-4">Amine Zeroual G3 W</h1>

    <h1 class="display-4">nawfal daha g7 </h1>

    <h1 class="display-4">laakouk ibtissam g62 </h1>

    <h1 class="display-4">elbaraka salma g62 </h1>
    <h1 class="display-4">Adam Fakak G61 was here c: </h1>
    <h1 class="display-4">Yassine Bedraoui g61 "biker!" </h1>


    <h1 class="display-4"> GramiSalma g72 maarif   :)</h1>

    <h1 class="display-4"> Mohamed Chahir G61   :)</h1>
    <h1 class="display-4"> Taifi Anas G61   :)</h1>


    <h1 class="display-4"> Oussama Okbani G41 </h1>



    <h1 class="display-4"> HajarJIM_G4  :)</h1>
    <h1 class="display-4"> Mohamed Amine Elazziz_G42  >:(</h1>
    <h1 class="display-4">Sara AIT EL HAJ G41</h1>

    <h1 class="display-4"> Oussama Okbani G41 </h1>



    <h1 class="display-4"> HajarJIM_G4  :)</h1>
    <h1 class="display-4"> Mohamed Amine Elazziz_G42  >:(</h1>
    <h1 class="display-4"> Moukil Aymane Salah g42 </h1>








    <h1 class="display-4"> Aliae Bouarif G62 </h1>

    <h1 class="display-4"> GramiSalma g72 maarif   :)</h1>

    <h1 class="display-4">Salma EL Miniani G6 </h1>
    <h1 class="display-4">SALAH LAM "ALODY" G6 </h1>
    <h1 class="display-4"> "GHITA" G6  </h1>
    <h1 class="display-4"> "ZENTAR Yassine" G6 </h1>
    <h1 class="display-4"> Oumaima ETTOURI G61 OUMAHSAN</h1>

    <h1 class="display-4"> Ahlam Gamil G4</h1>

    <h1 class="display-4"> Ahmed ZAHER G4 CENTRE</h1>



    <h1 class="display-4"> OIA G4</h1>


    <h1 class="display-4">Aliae Bouarif G62 </h1>



    <h1 class="display-4">GramiSalma g72 maarif :)</h1>

    <h1 class="display-4">Mohamed Chahir G61 :)</h1>
    <h1 class="display-4">Taifi Anas G61 :)</h1>
    <h1 class="display-4">Khadija Abdelilah G41 :)</h1>

    <h1 class="display-4">OIA G4 //rr</h1>

    <h1 class="display-4">HajarJIM_G4 :)</h1>


    <h1 class="display-4">Mawada_Ennaciri_G42</h1>

    <h1 class="display-4">Mawada Ennaciri_G42</h1>


    <h1 class="display-4">Moncef Mostaine G4 </h1>
    <h1 class="display-4">OUMAIMA ZOUHOU G4 </h1>
    <h1 class="display-4">YAHYA KARIMI G4 </h1>

    <h1 class="display-4">Karim Abdellah & Nachir Imad & Mkhamma Ibrahim G4   </h1>

    <h1 class="display-4">Salim El Omari alaoui_G4 </h1>

    <h1 class="display-4">El Mahdi El Hammouti _G42</h1>

    <h1 class="display-4">Fathi Anas G4 </h1>
    <h1 class="display-4">Ammou Younesse G4 XD</h1>
    <h1 class="display-4">Soulaimane Kifa G4 :P</h1>

    <h1>majda el oualki g3  </h1>



    <h1 class="display-4">Salim El Omari alaoui_G4 </h1>

    <h1 class="display-4">el Mahdi El Hammouti _G42</h1>

    <h1 class="display-4">Fathi Anas G4 </h1>


    <h1 class="display-4">SOUKAINA BATTAH G31 </h1>

    <h1 class="display-4">Laaleg wahid g3 </h1>
    <h1 class="display-4">Soussi Badger Sohaib G3</h1>


    <p>Hello DevOps</p>


</div>
