@{
    ViewData["Title"] = "Examin DevOps";
}

<div class="text-center">
   
    <h1>Hello DevOps</h1>

    <h2> Hello ,I am Bennis Yahya</h2>
    <h1>Hiba Benchaira</h1>

    <h2> Hello ,I am Wakach Aymane </h2>
    <h2> Hello ,I am SALHI Imane  </h2>


</div>
